*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-width: 320px;
  max-width: 1440px;
  margin: auto;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../public/font/dm-sans-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../public/font/dm-sans-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../public/font/dm-sans-v6-latin-regular.woff2") format("woff2"), url("../public/font/dm-sans-v6-latin-regular.woff") format("woff"), url("../public/font/dm-sans-v6-latin-regular.ttf") format("truetype"), url("../public/font/dm-sans-v6-latin-regular.svg#DMSans") format("svg");
  /* Legacy iOS */
}
* {
  font-family: "DM Sans", sans-serif;
}

h1 {
  color: #901c1c;
  font-size: 36px;
}
@media (max-width: 425px) {
  h1 {
    font-size: 14px;
  }
}

h2 {
  color: #bf5138;
  font-size: 36px;
}

strong {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #901c1c;
}

em {
  font-style: normal;
  font-size: 9px;
  color: #525252;
}

p {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.invisible {
  font-size: 0;
}

.tagList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #901c1c;
}
.tagList li {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  padding: 2px 5px;
  margin: 3px;
}

.tagActive {
  color: #ffffff;
  background-color: #901c1c;
}

.header {
  display: flex;
  margin-left: 50px;
  margin-top: 25px;
}
.header__logo {
  max-width: 200px;
  max-height: 50px;
}
@media (max-width: 425px) {
  .header__logo {
    max-width: 150px;
    max-height: 37.5px;
  }
}
.header__nav {
  padding-top: 12px;
  padding-left: 100px;
}
@media (max-width: 768px) {
  .header__nav {
    padding-left: 0;
    margin: 0 40px;
  }
}
@media (max-width: 768px) {
  .header {
    display: block;
    margin-top: 40px;
    margin-left: 20px;
  }
}

.modalMedia {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  padding-top: 40px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #ffffff;
  overflow: hidden;
}
@media (max-width: 425px) {
  .modalMedia {
    height: 800px;
    padding-top: 250px;
  }
}
.modalMedia__body {
  max-height: 900px;
}
@media (max-width: 425px) {
  .modalMedia__body {
    height: 300px;
  }
}
.modalMedia__body img, .modalMedia__body video {
  height: 850px;
  width: 1050px;
  object-fit: cover;
  margin-left: calc(50% - 525px);
}
@media (max-width: 425px) {
  .modalMedia__body img, .modalMedia__body video {
    height: 250px;
    width: 300px;
    margin-left: calc(50% - 150px);
  }
}
.modalMedia__body p {
  font-size: 24px;
  color: #901c1c;
  margin-left: calc(50% - 525px);
}
@media (max-width: 425px) {
  .modalMedia__body p {
    font-size: 14px;
    margin-left: calc(50% - 150px);
  }
}
.modalMedia__close {
  position: absolute;
  top: 40px;
  left: calc(50% + 550px);
  font-size: 80px;
  color: #901c1c;
  cursor: pointer;
}
@media (max-width: 425px) {
  .modalMedia__close {
    top: 250px;
    left: calc(50% + 160px);
    font-size: 25px;
  }
}

.navButton {
  font-size: 80px;
  color: #901c1c;
  cursor: pointer;
  position: absolute;
  top: 425px;
}
@media (max-width: 425px) {
  .navButton {
    top: 370px;
    font-size: 25px;
  }
}
.navButton__left {
  right: calc(50% + 550px);
}
@media (max-width: 425px) {
  .navButton__left {
    right: calc(50% + 160px);
  }
}
.navButton__right {
  left: calc(50% + 550px);
}
@media (max-width: 425px) {
  .navButton__right {
    left: calc(50% + 160px);
  }
}

.button {
  background: #901c1c;
  color: #ffffff;
  margin-top: 20px;
  padding: 1em;
  width: 170px;
  height: 70px;
  border-radius: 5px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
}
@media (max-width: 425px) {
  .button {
    height: 35px;
    line-height: 20px;
    margin: 10px 0px;
    margin-left: calc(50% - 85px);
  }
}

.modalForm {
  display: none;
  position: fixed;
  top: 0;
  left: calc(50% - 250px);
  margin: 5% auto;
  width: 100%;
  max-width: 669px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  color: #000000;
  padding-top: 10px;
}
@media (max-width: 669px) {
  .modalForm {
    left: 0;
  }
}
@media (max-width: 768px) {
  .modalForm {
    left: calc(50% - 335px);
    top: 60px;
  }
}
.modalForm__body {
  padding: 10px 8%;
  margin: 10px auto;
}
.modalForm__body h1 {
  font-size: 64px;
  color: #000000;
}
@media (max-width: 425px) {
  .modalForm__body h1 {
    font-size: 36px;
  }
}
.modalForm label {
  font-family: var(--font-default);
  font-size: 36px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 10px;
}
@media (max-width: 425px) {
  .modalForm label {
    font-size: 24px;
  }
}
.modalForm input {
  padding: 8px;
  border: 0.8px solid #ffffff;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 22px;
  height: 52px;
  outline: none;
}
@media (max-width: 425px) {
  .text-control {
    font-size: 18px;
  }
}
.text-control:focus {
  border: #901c1c solid 4px;
}
.text-control--message {
  height: 184px;
}

.msg_error {
  font-size: 18px;
  color: #ffffff;
  display: none;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
}
@media (max-width: 425px) {
  .msg_error {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.msg_submitSuccess {
  font-size: 22px;
  color: #ffffff;
  display: none;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  text-align: center;
}
@media (max-width: 425px) {
  .msg_submitSuccess {
    font-size: 18px;
    margin: 0 50px 0 0;
    padding-bottom: 10px;
  }
}

.close {
  position: absolute;
  right: 45px;
  top: 45px;
  font-size: 55px;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 425px) {
  .close {
    font-size: 36px;
    right: 35px;
    top: 35px;
  }
}

.skipToContent {
  border-radius: 5px;
  background-color: #db8876;
  color: #000000;
  padding: 2px 20px;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  position: absolute;
  top: 5px;
  --leftPosSkip: calc(50% - 85px);
  left: var(--leftPosSkip);
  display: none;
}

.main__title {
  position: absolute;
  top: 35px;
  --leftPos: calc(50% + 300px);
  left: var(--leftPos);
}
@media (max-width: 425px) {
  .main__title {
    --leftPos: calc(60%);
    top: 50px;
  }
}
.main__content {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
