.modalMedia {
    display: none;
    
    position: fixed;
    top: 0;
    left: 0;

    margin: 0 auto;
    width: 100%; 
    height: 1000px;
    padding-top: 40px;

    @media (max-width: $breakpoint-minMobile) {
      height: 480px;
      padding-top: 115px;
    }

    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background:$color-secondaryEmpty-background;
    overflow: hidden;
    
    &__body{
      max-height: 900px;
      @media (max-width: $breakpoint-minMobile) {
        height: 300px;
      }
      
      & img, video{
        height: 850px;
        width: 1050px;
        object-fit: cover;

        margin-left: calc(50% - 525px);

        @media (max-width: $breakpoint-minMobile) {
          height: 190px;
          width: 260px;
          margin-left: calc(50% - 130px);
        }
      }

      & p{
        font-size: 24px;
        color: $color-secondaryEmpty-text;
        margin-left: calc(50% - 525px);

        @media (max-width: $breakpoint-minMobile) {
          font-size: 14px;
          margin-left: calc(50% - 130px);
        }
      }
    }

    &__close{
      position: absolute;
      top: 40px;
      left: calc(50% + 550px);
      font-size: 80px;
      color:  $color-secondaryEmpty-text;
      cursor: pointer;

      @media (max-width: $breakpoint-minMobile) {
        top: 110px;
        left: calc(50% + 136px);
        font-size: 15px;
      }
    }
}

.navButton{
  font-size: 80px;
  color:  $color-secondaryEmpty-text;
  cursor: pointer;
  position: absolute;
  top: 425px;

  @media (max-width: $breakpoint-minMobile) {
    font-size: 14px;
    top: 205px;
  }

  &__left{
    right: calc(50% + 550px);
    @media (max-width: $breakpoint-minMobile) {
      right: calc(50% + 141px);
    }
  }

  &__right{
    left: calc(50% + 550px);
    @media (max-width: $breakpoint-minMobile) {
      left: calc(50% + 141px);
    }
  }
}